<!--Codigo pagina principal -->
<!DOCTYPE html>
<html>
<head>
	<title>WIDIA STORE</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!--Idioma español-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<!--Icono-->
	<link rel="icon" type="image/png" href="icono/avion.png" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!-- insercion de css en el mismo documento html-->
  <style>
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .dropdown {
  position: relative;
  display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-inverse .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;.."); 
} 
  </style>
  

</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark sticky-top navbar-toggleable-sm">
  <!--hamburguesa-->
  	<button class="navbar-toggler btn-success" type="button" data-toggle="collapse" data-target="#opciones">
      	<span class="navbar-toggler-icon"></span>
  	</button>
	<!-- imagen menu -->
	<a class="navbar-brand" href="index.html">
		<img src="icono/widia.png" width="40" height="40" alt="logo">
	</a>
  <!-- Barra-->
  	<div class="collapse navbar-collapse" id="opciones">
		<ul class="navbar-nav mr-auto" >
		<li>
			<a class="nav-link text-light" href="index.html">INICIO</a>
		</li>
		
	<!-- Dropdown -->
		<li class="nav-item">
	  		<a class="nav-link dropdown text-light" href="quehacer.html" >QUÉ HACER</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="https://www.doite.cl/" target="_blank">TIENDA</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="acercadeee.html">ACERCA DE CHILE</a>
		</li>
    </ul>
    </div>
    <form class="form-inline" action="iniciosesion.html">

        <input class="form-control mr-2" placeholder="Puerto montt....">
        <button class="btn btn-outline-info mr-2">Buscar</button>
        <button class="btn btn-success mr-2" type="submit">Login</button>
    </form>
    
    
	
</nav>
<div class="container">
  <br>
  <div class="alert alert-warning" role="alert">
     Debido a la contingencia por el <a href="https://www.conaf.cl/protocolo-de-coronavirus-covid-19/" target="_blank" class="alert-link">COVID-19</a>. Los envios se tardarán mas de lo acostumbrado!
  </div>
  <hr>
  <div class="centrar">
    <h2>Cubre-Mochila Trekking Lippi 45L</h2>
    <img src="img/trekking/CubreMochila.png">

  </div>
  <button class="btn-outline-info ">Comprar</button>
  
</div>


<footer class="page-footer font-small bg-dark pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <img src="icono/widia.png" width="40" height="40" alt="logo">
          <p class="text-light">Somos una empresa que busca resaltar lo mas hermoso de nuestro pais, dandote a conocer puntos turisticos y lugares historicos de este, ademas, de ayudarte a visitar lugares maravillosos.</p>

        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-light">CONTACTANOS!</h5>
          <ul class="list-unstyled">
            <li>
              <img src="img/rsz_fb.png" alt="facebook">
              <a href="#!">FB</a>
            </li>
            <li>
              <img src="img/rsz_fono.png" alt="fono"> 
              <a href="#!">FONO </a>
            </li>
            <li>
              <img src="img/rsz_gmail.png" alt="gmail">
              <a href="#!">GMAIL</a>
            </li>
          </ul>
      </div>
    </div>
  </div>  
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> www.widiatours.cl</a> 
  </div>
  <!-- Copyright -->

</footer>





</body>
</html>